@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Expletus+Sans|Montserrat|Raleway|Roboto');

body {
	line-height: 1.5;
	height:100%;
	margin:0;
}


/********** NAVIGATION **********/
#navbar {
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand {
	padding: 2px 10px;
	margin: 0px;
}

.navbar-default {
	background-color:transparent;
	opacity:;
}

#navbar ul {
	float:right;
	display:inline;
	margin-top:2px;
	padding-right:10px;
}

#navbar a {
	text-decoration:none;
	padding:15px;
	background-color: transparent;
}

#navbar a:link {
	color:#e27da1;
	text-decoration:none;
}

#navbar a:visited {
	color:#e27da1;
}

#navbar a:hover {
	color:#4f405b;
	background-color:#ffd1b0;
	border-radius: 5px;
}
	
#navbar a:active {
	color:#f8f8f8;
}	

#navbar a:focus {
	color: #ffffff;
}

#link6 {
	border: 1px solid #e27da1;
	border-radius: 5px;
	font-weight: bold;
	background: rgba(255, 207, 176, 0.3)!important;
	
}

a#link6:hover {
	color:#ffff!important;
}

	

/*********** HEADER - BACKGROUND **********/
#home {
	min-height:900px;
}
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
	
}

ul {
	list-style-type: none;
}

	
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
    -moz-animation: imageAnimation 18s linear infinite 0s;
    -o-animation: imageAnimation 18s linear infinite 0s;
    -ms-animation: imageAnimation 18s linear infinite 0s;
    animation: imageAnimation 18s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 18s linear infinite 0s;
    -moz-animation: titleAnimation 18s linear infinite 0s;
    -o-animation: titleAnimation 18s linear infinite 0s;
    -ms-animation: titleAnimation 18s linear infinite 0s;
    animation: titleAnimation 18s  linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 95px;
    padding: 0 30px;
    line-height: 120px;
    color: rgba(255,255,255,0.8);
}
.cb-slideshow li:nth-child(1) span { background-image: url(../images/musicfest2.jpg); }
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/tnw01.jpg);
	height:100%;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/banner-wed.jpg);
	height:100%;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	16% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	34% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	
	50% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	16% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	34% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	
	50% {
	    opacity: 0;
	    -moz-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	16% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	34% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	
	50% {
	    opacity: 0;
	    -o-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	16 {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	34% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	
	50% {
	  opacity: 0;
	    -ms-transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	16% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	34% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	
	50% {
	    opacity: 0;
	    -transform: scale(1.1) translateY(-100%);
	}
	100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(-300%);
	}
	16% {
	    opacity: 1;
	    -webkit-transform: translateY(0%);
	}
	34% {
	    opacity: 1;
	    -webkit-transform: translateY(0%);
	}
	36% {
	    opacity: 0;
	    -webkit-transform: translateY(100%);
	}
	50% { opacity: 0 }
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -moz-transform: translateY(-300%);
	}
	16% {
	    opacity: 1;
	    -moz-transform: translateY(0%);
	}
	34% {
	    opacity: 1;
	    -moz-transform: translateY(0%);
	}
	36% {
	    opacity: 0;
	    -moz-transform: translateY(100%);
	}
	50% { opacity: 0 }
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -o-transform: translateY(-300%);
	}
	16% {
	    opacity: 1;
	    -o-transform: translateY(0%);
	}
	34% {
	    opacity: 1;
	    -o-transform: translateY(0%);
	}
	36% {
	    opacity: 0;
	    -o-transform: translateY(100%);
	}
	50% { opacity: 0 }
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -ms-transform: translateY(-300%);
	}
	16% {
	    opacity: 1;
	    -ms-transform: translateY(0%);
	}
	34% {
	    opacity: 1;
	    -ms-transform: translateY(0%);
	}
	36% {
	    opacity: 0;
	    -ms-transform: translateY(100%);
	}
	50% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateY(-300%);
	}
	16% {
	    opacity: 1;
	    transform: translateY(0%);
	}
	34% {
	    opacity: 1;
	    transform: translateY(0%);
	}
	36% {
	    opacity: 0;
	    transform: translateY(100%);
	}
	50% { opacity: 0 }
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.cb-slideshow li div h3 { 
		font-size: 50px;
		line-height:normal;
	}
}
@media screen and (max-width: 600px) { 
	.cb-slideshow li div h3 { 
		font-size: 45px;
		line-height:normal;
	}
}




/********** WHY TAPE **********/
#about {
	min-height: 500px;
	background-color: #0a161e;
	color:#ffd1b0;
	font-family: 'Montserrat', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#about h2 {
	padding-top: 50px;
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#about img {
	width:60%!important;
	height:auto;
}

/********** SERVICES **********/
#services {
	max-height: 100%;
	color: #ffd1b0;
	background-color: #1a151e;
	font-family: 'Montserrat', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#services h2 {
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
	padding-top: 50px;
}

#services h4 {
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}
	
.text-image {
	width: 325px; 
    height: 475px;
	background-size: contain;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	margin:auto;
	background-position:center center;	
}		

.text-image > input {
	display:none;
}

.text-image > h4 {
	position:absolute;
	overflow:hidden;
	opacity:0;
	transition:.5s;
	background-color:rgba(255,255,255,0.8);
	padding:8px;
	left:0px;
    right:0px;
	bottom:20px;
	text-align:center;
	margin-bottom:250px;
}

.text-image > div {
	position:absolute;
	overflow:hidden;
	opacity:0;
	transition:.5s;
	background-color:rgba(255,255,255,0.8);
	left:4px;
	right:4px;
	text-align:center;
	
}

.text-image:hover > h4,.text-image > input:checked + h4 + div {
	bottom:4px;
	opacity:1;
	color:#121212;
}

.text-image > input:checked + h4 {
	bottom:-20px;
	opacity:0;
}



/********** PORTFOLIO **********/
#portfolio {
	text-align: center;
	max-height: 100%;
	background-color:#0a161e;
	color:#ffd1b0;
	font-family: 'Montserrat', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#portfolio h2 {
	padding-top: 50px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.gallery {
	display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	
}

.column {
  f-ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
  
} 

.column img {
	vertical-align: middle;
	width:100%;
	backface-visibility: hidden;
	
	
}
  
.photo-frame {
	position: relative;
	overflow:hidden;
}
	
.zoom {
	transition: transform 3s;
	
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
	
}


.photo-frame:hover .middle {
  opacity: 1;
}

.photo-text {
	color: #cecece;
	font-size: 20px;
	text-align: center;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/********** folio gallery *********/
#portfolio-title  {
	text-align: center;
	max-height: 100%;
	background-color:#0a161e;
}

#portfolio-title h2 {
	padding-top: 50px;
	padding-bottom: 10px;
}

.gallery-folio {
	display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	
}

.column-folio {
  f-ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
  
} 

.column-folio img {
	vertical-align: middle;
	width:100%;
	backface-visibility: hidden;
	
	
}


/********** CONTACT **********/
#contact {
	padding: 50px;
	height: 100%;
	background-color: #1a151e;
	color:#ffd1b0;
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#contact h2 {
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#contact img {
	width: 50px;
	height: auto;
}

#contact p {
	margin-top:15px;
}

/********** PORTFOLIO PAGES **********/

#portfolio-title {
	background-color:#121212;
	color:#ffd1b0;
}

#portfolio-title h2 {
	font-family: 'Raleway', sans-serif, 'Arial Narrow', Arial, sans-serif;
}



/********** RESPONSIVE *********/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	/*NAV BORDER*/
	.navbar-default {
		border-color: transparent!important;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #ffd1b0!important;
		color: #ffd1b0!important;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		border-color: #ffd1b0!important;
		background-color: #ffd1b0!important;
		
	}
	
	.column {
    flex: 100%;
    max-width: 100%;
	}
	
	/*WHY TAPE*/
	#about img {
	width:100%!important;
	height:auto;
	}
	
	/*SERVICES*/
	.text-image > div {
		font-size:18px;
		font-size:16px;
		padding:70px 8px 8px 8px!important;
		bottom:3%!important;
		top:3%!important;
	}
	
	.text-image > div > .kind {
		font-size:25px;
	}
	
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	/*.corporate .industry .entertainment .special .img {
		width: 50%!important;
		height: auto!important;
	}*/
	
	/*NAV BORDER*/
	.navbar-default {
		border-color: transparent!important;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #ffd1b0!important;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		border-color: #ffd1b0!important;
		background-color: #ffd1b0!important;
		color: #ffd1b0!important;
	}
	
	.corporate, .industry, .entertainment, .special {
		margin-bottom: 15px;
	}
	
	
	header {
		text-align: center;
	}
	
	/*WHY TAPE*/
	#about img {
	width:100%!important;
	height:auto;
	}
	
	
	/*SERVICES*/
	.text-image > div {
		font-size:16px;
		padding:70px 8px 8px 8px!important;
		bottom:3%!important;
		top:3%!important;
		
	}
	
	.text-image > div > .kind {
		font-size:22px;
	}
} 
	
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
	/*NAV BORDER*/
	.navbar-default {
		border-color: transparent!important;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #ffd1b0!important;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		border-color: #ffd1b0!important;
		background-color: #transparent!important;
		color: #ffd1b0!important;
	}
	
	.corporate, .industry, .entertainment, .special {
		margin-bottom: 15px;
	}
	
	/*WHY TAPE*/
	#about img {
	width:65%!important;
	height:auto;
	}
	
	/*SERVICES*/
	.text-image > div {
	padding:8px!important;
	bottom:27%!important;
	top:27%!important;
	line-height:1;
	font-size:11px!important;
	}
	
	.text-image > div > .kind {
		font-size:16px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	/*NAV BORDER*/
	.navbar-default {
	border-bottom: 1px solid #b8b8c8;
	}
	
	.corporate, .industry, .entertainment, .special {
		margin-bottom: 15px;
	}
	
	/*WHY TAPE*/
	#about img {
	width:60%!important;
	height:auto;
	}
	
	/*SERVICES*/
	.text-image > div {
	padding:20px 8px 8px 8px!important;
	bottom:19%!important;
	top:19%!important;
	font-size:14px!important;
	}
	
	.text-image > div > .kind {
		font-size:18px!important;
	}
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	/*NAV BORDER*/
	.navbar-default {
	border-bottom: 1px solid #b8b8c8;
	}
	
	/*WHY TAPE*/
	#about img {
	width:60%!important;
	height:auto;
	}
	
	/*SERVICES*/
	.text-image > div {
		font-size:16px!important;
		padding:45px 8px 8px 8px!important;
		bottom:12%!important;
		top:12%!important;
	}
		
	.text-image > div > .kind {
		font-size:20px!important;
	}
}



